.title {
  text-align: center;
  padding-bottom: 2%;
}

.upper,
.middle,
.address,
.end,
.title1 {
  background-color: rgba(248, 220, 184, 0.377);
}

.end {
  padding-bottom: 5%;
}

.sb {
  margin-left: 40%;
  margin-top: 2%;
}

.title1 {
  padding-top: 1%;
}
#phone_number{
  -webkit-animation: none;
  -webkit-animation-play-state: paused;
  box-shadow: none;
  box-sizing: unset;
  transition: none;
}
