.abc{
  background-color: rgb(255,0,0,0.45);
  text-align: left;
  font-size: 1.5rem;
  font-style: normal;
  font-family: sans-serif;
  height: 100;
  width: 1000;


}
.buttone{
  font-size: 1.5rem;
  border-left: 10;
  border-right: 10;
  padding-left: 10;
  padding-right: 10;
  position: relative;
  left: 9%;
}
