*{
    background-color: lightcyan;
}
.heading{
    align-items: center;
    background-color: lightcyan;
}
.card-info{
    margin-left: 25em;
    
}
.input-item{
    margin-left:35em;
    padding-right: 10em;
    border-radius: 10em;
    width: 20em;
    height:3em;
}

.button{
    margin-left: 45em;
}
.image{
    width: 50px;
    height: 40px;
}